body {
  background: lightblue;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 400px;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width: 20px;
  /* background-color: red; */
}
.tetromino {
  background-color: teal;
}

.minigrid {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  width: 80px;
  height: 80px;
}
.minigrid div {
  width: 20px;
  height: 20px;
}
